* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div h1 {
    margin: 10px;
}

#container {
    width: 30rem;
    height: 30rem;
    padding: auto;
}

.button {

    width: 31%;
    height: 31%;
    position: static;
    background-color: rgba(28, 27, 27, 0.623);

}

#reset {
    margin: 10px;
    padding: 5px;
}
.img{
width: 100%;
height: 100%;
flex-wrap: nowrap;
}
